.header{
    text-align: right;
    
}

.body {
text-align: center;
background-color:lightgray;
font-size: 25px;

}

h1{

    text-align: center;
    font-size:50px
}

.Footer{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
 text-align: center;

 background-color: lightgray;

}

.tableauPlaceholder{

    padding-left: 200px;
    padding-right: 200px;
    max-width: 75%;
    align-items: center;

}


 