p{
    font-family:Arial, Helvetica, sans-serif
}

body{
     background-color:lightgray;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.link{
    font-style: italic;
    text-decoration:underline;
}